@import url('https://fonts.googleapis.com/css?family=Gugi|Roboto+Condensed:300,300i,400,700')
    
$color-dark-sky: #4623a1
$color-water: #00ffcc
$color-basalt: #4d5558
$color-regolith: #838383

html, body
    height: 100%
    
body
    background: black
    font-family: 'Roboto Condensed', sans-serif
    height: 2000px
    font-size: 16px

.container
    width: 1200px
    margin: 0 auto

.header
    position: fixed
    z-index: 999
    background-color: rgba(0, 0, 0, .4)
    box-shadow: rgba(0, 0, 0, .6) 0 0 55px
    width: 100%
    display: flex
    align-items: center
    height: 80px

    &>.container
        display: grid
        grid-template-columns: 250px auto auto

.logo
    display: flex
    align-items: center

.logo__icon
    width: 40px
    height: 40px
    background-image: url("../images/astro-icon.png")
    background-size: contain
    background-repeat: no-repeat
    background-position: center

.logo__text
    font-family: 'Gugi', cursive
    color: #ffffff
    padding: 0 15px
    font-size: 140%
    cursor: default

.menu
    list-style: none
    padding: 0
    margin: 0
    display: flex
    justify-content: center

.menu__item
    margin: 0
    padding: 0

    a
        display: inline-block
        padding: 15px 20px
        text-decoration: none
        color: rgba(255, 255, 255, .6)
        letter-spacing: 0.1em
        text-shadow: transparent 0 3px 2px, transparent 0 -3px 2px
        transition-duration: 200ms
        transform: translateY(0)

        &:hover
            color: $color-water
            transition-duration: 400ms
            transform: translateY(2px)


.social-menu
    display: flex
    align-items: flex-end
    list-style: none
    padding: 0
    margin: 0

.social-menu__item a
    display: inline-block
    padding: 10px
    color: rgba(255, 255, 255, .5)
    transition-duration: 200ms
    font-size: 120%

    &:hover
        color: white
        transition-duration: 300ms

.jumbotron.jumbotron--parallax
    height: 100vh
    background-image: url("../images/milky-way.jpg")
    background-size: cover
    background-repeat: no-repeat
    overflow: hidden

.jumbotron__parallax-container
    height: 100%

.jumbotron__graphic-element
    position: relative
    height: 100%
    width: 100%
    background-size: cover
    background-repeat: no-repeat

.jumbotron__graphic-element--element-1
    background-image: url('../images/milky-way-foreground.png')

.jumbotron__graphic-element--element-2
    background-image: url('../images/milky-way-foreground-2.png')

.jumbotron__graphic-element--element-3
    background-image: url('../images/milky-way.jpg')

.jumbotron__text-element
    width: 100%
    height: 100%
    text-align: center
    line-height: 100vh
    color: white
    font-family: 'Gugi', cursive;
    font-size: 3rem
    text-shadow: #6f618a 0 2px 55px

.jumbotron__text-element--shadow
    color: black
    font-size: 3.2rem
    filter: blur(15px)

.jumbotron__scroll-down
    position: absolute
    width: 100%
    bottom: 0
    display: flex
    justify-content: center
    opacity: 0
    transform: translateY(15px)
    transition-duration: 400ms

.jumbotron__scroll-down--active
    opacity: 1
    transform: translateY(0px)
    transition-duration: 400ms

.scroll-down
    display: flex
    flex-direction: column
    align-items: center
    padding: 15px

.scroll-down__icon
    position: relative
    width: 20px
    height: 35px
    border: 3px solid rgba(255, 255, 255, .7)
    border-radius: 30px
    margin-bottom: 10px

    &:before
        content: ''
        position: absolute
        width: 4px
        height: 5px
        border-radius: 100%
        background-color: #ffffff
        left: 0
        right: 0
        top: 7px
        margin: 0 auto
        animation-name: scroll-down
        animation-duration: 1.2s
        animation-iteration-count: infinite

.scroll-down__text
    text-transform: uppercase
    font-size: 60%
    color: rgba(255, 255, 255, .5)
    letter-spacing: 0.3em
    font-weight: 400

@keyframes scroll-down
    0%
        opacity: 1
    100%
        opacity: 0
        transform: translateY(10px)

.presenter
    background: rgb(136,191,232)
    background: -moz-linear-gradient(45deg, rgba(136,191,232,1) 0%, rgba(112,176,224,1) 100%)
    background: -webkit-linear-gradient(45deg, $color-water 0%, $color-dark-sky 100%)


    & > .container
        display: flex

.presenter__picture
    transform: scale(1.1)
    box-shadow: rgba(0, 0, 0, .3) 0 5px 35px
    
    img
        display: block

.presenter__info
    margin-left: 20px
    padding: 50px
    display: flex
    flex-direction: column
    justify-content: center

.presenter__title
    position: relative
    font-size: 2.4rem
    font-weight: 100
    color: #fff
    font-family: 'Gugi', cursive
    margin-bottom: 10px

    &:before, &:after
        overflow: hidden
        content: ''
        position: absolute
        bottom: -15px
        height: 6px
        border-radius: 30px
        background: rgba(255, 255, 255, .6)
        background: -moz-linear-gradient(45deg, rgba(255,255,255,.9) 0%, rgba(255,255,255,.4) 100%)
        background: -webkit-linear-gradient(45deg, rgba(255,255,255,.9) 0%, rgba(255,255,255,.4) 100%)

    &:before
        width: 60% 
    &:after
        width: 10%
        background: rgba(255, 255, 255, .3)  
        left: 61%

.presenter__text
    padding: 20px 0
    font-weight: 100
    color: rgba(255, 255, 255, .7)
    font-size: 140%
    letter-spacing: 0.05em
    line-height: 130%

    strong
        font-weight: 500
        color: white
    