@import url('https://fonts.googleapis.com/css?family=Gugi|Roboto+Condensed:300,300i,400,700')
    
$color-dark-sky: #4623a1
$color-water: #00ffcc
$color-basalt: #4d5558
$color-regolith: #838383

@import 'header', 'jumbotron', 'presenter', 'slider', 'buttons', 'utilities'

html, body
    height: 100%
    
body
    background: black
    font-family: 'Roboto Condensed', sans-serif
    height: 2000px
    font-size: 16px

.container
    width: 1200px
    margin: 0 auto